
body {
    font-family: Arial, sans-serif; 
    background-color:white;
}
.mic{
    position:absolute;
    left:10px;

}


.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: white; 
    padding: 15px 40px; 
}


.logo {
    font-size: 20px;
    font-weight: bold;
}


.navbar nav ul {
    list-style: none; 
    display: flex;
    gap: 10px; 
    padding: 0;
    position: absolute;
    left: 160px;
    top: 10px;
}

.navbar nav ul li a {
    text-decoration: none; 
    color: black;
    font-weight: 500;
}


.nav-icons a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}
.blu {
    
    padding: 20px 20px;
    text-align: center;
    background-color: #1f83cf;
}
.blu a{
    color:white;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}


.hero {
    display: flex; 
    align-items: left;
    justify-content: flex-start;
    padding: 50px 50px;
    text-align: left;
    
}

.hero-text {
    max-width: 400px;
    background-color: white;
    padding: 20px 10px;
}


.hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}


.hero-text p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}


.hero-image img {
    position: absolute;
    width:99%;
    top: 120px;
    left: 7px;
    height: 350px;
    z-index: -1;
}

.pro {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-top: 50px;
    margin-left: 90px;
    gap:40px;
    height: 100px;
}
.a{
    position: absolute;
    top: 500px;
    left:150px;
}
.b{
    position: absolute;
    top: 500px;
    left:400px;
}
.c{
    position: absolute;
    top:500px;
    left: 625px;
}
.d{
    position: absolute;
    top:500px;
    left:800px;
}
.e{
    position: absolute;
    top: 500px;
    left: 1000px;
}
.f{
    position: absolute;
    top:500px;
    left:1200px;
}


.btn {
    background-color: #0078d4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}




.products {
    display: grid; 
    gap: 20px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.product img {
    width: 100%;
    max-width: 400px;
}


.product h3 {
    font-size: 18px;
    margin: 10px 0;
}


.product p {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}
